@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* body
{
    background-image: url(/Images/bg-2.png);
    background-attachment: fixed;

} */
header ul li {
    margin-left: 100px;
}

.link_remover {
    text-decoration: none;
    color: black;
}

.link_remover2 {
    text-decoration: none;
    color: #fffefb;
}

nav {
    font-size: 21px;
}

.bgnav {
    background-image: url(/Images/bg-2.jpg);
}

.useless {
    height: 4400vh;
}

.center {
    display: flex;
    justify-content: center;
}


.main {

    background-image: url(./Images/shop-bg.PNG);
    background-size: cover;
    width: 100%;
    height: 92vh;
    margin-bottom: 10vh;
}

.container {
    margin-bottom: 5vh;
}

.card {

    margin-left: 4vw;
    margin-right: 4vw;
    border-radius: 25px;
}

.col-lg-4 {
    /* border: 1px solid black;
    border-radius: 25px; */
    /* margin-right: 25px; */

}

.d-flex .btn {
    margin-left: 92.5vw;
    display: flex;
    float: right;
}

#aboutus {
    font-size: 34px;
    margin-bottom: 5vh;
    font-size: 50px;
    letter-spacing: 5px;
}
#contactus {
    font-size: 30px;
    margin-bottom: 5vh;
    font-size: 50px;
    letter-spacing: 4px;
}

.card:hover {
    webkit-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.55);
    transition: 0.4s;
}
.turn-right
{
margin-left: 63vw;
}
.ptext {
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 23px;
    margin-bottom: 5vh;
}

.mainh1 {
    font-size: 3rem;
    color: #fffefb;
}

.mainbtn {
    height: 45px;
    width: 25%;
    border: none;
    outline: none;
    background-color: #383630;
    color: #f0ede7;
    font-size: 20px;
    border-radius: 30px;
}

.setting {
    margin-right: 9px;
}

.centerupdown {
    display: flex;
    align-items: center;
    width: 100vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 100vw;
    height: 61vh;
    color: #f0ede7;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    letter-spacing: 7px;
}
.centerupdowntext
{
    margin-left: 10vw;
    margin-right: 10vw;

}

.small-texto {
    font-size: 20px;
}
.shoptext
{
    margin-top: 25vh;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.shoptext2
{
    font-size: 50px;
    font-weight: 600;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #f0ede7;
    letter-spacing: 4px;
}
